
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: hsl(0, 0%, 94%);
    
    
    }

    .calculator {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        background-color: hsl(208, 100%, 97%);
        height: 640px;
        width: 400px;
        border: 7px solid gray;
        z-index: 1;
        padding: 10px;
        border-radius: 5px;
    }

    .mainDisplay {
        display: flex;
        flex-direction: column;
        align-content: right;
        justify-content: right;
        border: 1px solid black;
        background-color: hsl(120, 100%, 90%);
        height: 200px;
        width: 360px;
        z-index: 2;
        padding: 10px;
        border-radius: 10px;
        margin-left: 3px;
        
    }
    .subDisplay1 {
        height: 60px;
        width: 100%;
        text-align: right;
        line-height: 80px;
        padding-inline-end: 5px;
        font-size: 35px;

    }

    .subDisplay2 {
        height: 80px;
        width: 100%;
        text-align: right;
        line-height: 110px;
        padding-inline-end: 5px;
        font-size: 55px;
    }

    .mainButtons {
     display: flex;
     flex-wrap: wrap;
    }

    .botones {
        display: flex;
        justify-content: space-around;
        padding: 3px;
        margin: auto;
        align-items: center;
        
    }

    .btns {
        display: grid;
        margin: 2px 2px;
        border-radius: 15px;
        height: 85px;
        width: 85px;
        text-align: center;
        padding: 0px;
        line-height: 80px;
        background-color: white;
        font-size: 30px;
        box-shadow: 0 3px #999;
    }

    .opBtns {
        display: grid;
        margin: auto;
        border-radius: 15px;
        height: 85px;
        width: 85px;
        text-align: center;
        padding: 0px;
        line-height: 85px;
        background-color: hsl(205, 100%, 76%);
        margin: 3px 3px;
        font-size: 40px;
        color: white;
        font-weight: bold;
        box-shadow: 0 2px #999;
    }

    .btns:active {
        background-color: hsl(30, 100%, 50%);
        box-shadow: none;
        transform: translateY(2px);
      }

      .opBtns:active {
        background-color: hsl(30, 100%, 50%);
        box-shadow: none;
        transform: translateY(2px);
      }

#backspace {
    display: grid;
    margin: auto;
    text-align: center;
    padding: 0px;
    line-height: 80px;
   height: 40px;
   Width: 40px;  
}

.change {
    background-color: hsl(30, 100%, 50%);
    box-shadow: none;
    transform: translateY(2px);

  }

